# Configurações do Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:8000

# Configurações do Supabase

https://psjmdhdhshcveoseuaou.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzam1kaGRoc2hjdmVvc2V1YW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUyMjI4NDYsImV4cCI6MjA3MDc5ODg0Nn0.HYcmHtmXhpD1OuUgEBVd6jIlUiCc6XMM0q9EF_j4bX8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzam1kaGRoc2hjdmVvc2V1YW91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTIyMjg0NiwiZXhwIjoyMDcwNzk4ODQ2fQ.jlcqsB9qrZy8uH83cEt5tw17r080ix51UftJj10bIeE

# Configurações de Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=noreply@moradapremium.com

# Configurações de Autenticação
JWT_SECRET=VCH8E3lYoIrRFmjaV56OUnPq0eTH/6YOPe354szDHG7NXZDHmVuyvnueGD522G59CRKn0HrOVOk/M9M64GQYPg==
JWT_EXPIRES_IN=7d

# Configurações de Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

# Configurações de Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100